<div class="row g-5">
    <div class="col-4 offset-4 g-5">
        <form asp-controller="Articles" asp-action="GetNewsFromSources" method="post">
            <input class="btn btn-primary" type="submit" value="GET NEWS"/>
        </form>
    </div>
</div>