@model ArticleIndexViewModel

@*<form method="post" action="~/news/generate">

    <input type="text" name="name" placeholder="name"/>
    <input type="number" name="id" placeholder="id"/>
    <input type="radio" name="isApproved" value="false"/>
    <input type="submit" value="Submit"/>

</form>*@
 

<div class="container g-5">
    @*@if (Model.IsAdmin)
    {
        @Html.RenderPartialAsync("GetArticlesPartial")
    }*@
    
  @*  @await Html.PartialAsync("GetArticlesPartial")
*@
    <get-news-button></get-news-button>
    
    <div class="row g-5">
        @foreach (var article in Model.ArticleList)
        {
            await Html.RenderPartialAsync("ArticlePreviewPartial", article);
        }
    </div>
</div>

@await Html.PartialAsync("Pagination", new PaginationModel {PagesAmount = Model.PagesAmount, ControllerName = "Articles",ActionName = "Index" })



@section Pagination
{
    
}
