@model List<ArticleListItemViewModel>

@*<form method="post" action="~/news/generate">

    <input type="text" name="name" placeholder="name"/>
    <input type="number" name="id" placeholder="id"/>
    <input type="radio" name="isApproved" value="false"/>
    <input type="submit" value="Submit"/>

</form>*@
 

<div class="container g-5">
    <div class="row g-5">
        <div class="col-4 offset-4 g-5">
            <form asp-controller="Articles" asp-action="GetNewsFromSources" method="post">
                <input class="btn btn-primary" type="submit" value="GET NEWS"/>
            </form>
        </div>
    </div>
    <div class="row g-5">
        @foreach (var article in Model)
        {
            await Html.RenderPartialAsync("ArticlePreviewPartial", article);
        }
    </div>
</div>
