@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="welcome-message" class="display-4">Welcome</h1>
    <p class="custom-element" onclick="changeFontColor('#f00')">Learn about</p>
</div>

